{% extends 'app.html.twig' %}

{% block content %}

    {% if download %}
        <script type="text/javascript">
            window.open('{{ path('house_calc_pdf') }}');
        </script>
    {% endif %}

    <div class="page-sub-heading">
        <div class="container text-center">
            <img src="{{ asset('build/images/kathedraal.svg') }}" height="250" />
            <h3>Beter wonen in Gent klimaatstad</h3>
            <p>
                Daalt je energieverbruik dan daalt ook de impact op het klimaat.
                Elk energiezuinig gerenoveerd huis brengt ons een stap dichter bij
                het ideale Gent.
            </p>
            <p><strong>Waarvoor onze dank!</strong></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-right">
                <img src="{{ asset('build/images/icons/house-fly.svg') }}" height="150" />
            </div>
            <div class="col-xs-6">
                <h3>Mijn plan</h3>
                <p>
                    Bekijk de details per ingreep. Wat kost het en wat brengt het op?<br />
                    Download mijn persoonlijk stappenplan.
                </p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#app-modal">Download mijn plan</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-right">
                <img src="{{ asset('build/images/icons/house-help.svg') }}" height="150" />
            </div>
            <div class="col-xs-6">
                <h3>Stad Gent helpt</h3>
                <p>
                    Renoveren? Je krijgt het warm bij het idee alleen al?<br />
                    Stad Gent helpt je met premies, advies en begeleiding op maat.
                    Zo is je energiezuinig huis gerealiseerd voor dat je het weet.
                    Het enige wat jij dan nog hoeft te doen is ontspannen en genieten.
                </p>
                <a href="https://stad.gent/energiecentrale/formulieren/maak-een-afspraak-met-een-expert-van-de-energiecentrale" class="btn btn-primary">Vraag nu gratis advies</a>
            </div>
        </div>
    </div>

    <div class="layout-spacer"></div>

{% endblock %}


{% block app_modal_content %}
    <div class="container-fluid">
        <form method="post" action="{{ path('house_mail_pdf') }}">
            {{ form_widget(form._token) }}
            {{ form_row(form.email) }}
            {{ form_row(form.address) }}

            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" value="9000" disabled="disabled" />
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" value="Gent" disabled="disabled" />
                </div>
            </div>

            {{ form_widget(form.newsletter) }}

            {% if hasAddressCookie %}
                <input type="submit" class="btn btn-primary" value="Opslaan en versturen" />
            {% else %}
                <input type="button" onclick="document.getElementById('cookie-approval').classList.remove('hidden'); this.classList.add('hidden');" class="btn btn-primary" value="Opslaan en versturen" />

                <div id="cookie-approval" class="hidden">
                    <p>
                        <strong>De websites van Stad Gent maken voor een optimale online ervaring gebruik van cookies. <br />
                        Gaat u hiermee akkoord?</strong>
                    </p>

                    <input type="submit" name="with-cookie" class="btn btn-primary" value="Ja" />
                    <input type="submit" name="without-cookie" class="btn btn-warning" value="Neen" />
                </div>
            {% endif %}

            <div class="layout-spacer"></div>

            <h3>Met respect voor uw privacy</h3>
            <p><strong>De Stad Gent Gent behandelt de persoonsgegevens die u invult met respect voor uw privacy. We volgen hiervoor</strong> de <a href="https://www.privacycommission.be/nl/algemene-verordening-gegevensbescherming-0">Algemene Verordening Gegevensbescherming</a>.</p>

            <h4>Waarvoor, met wie en hoe lang?</h4>
            <p>Als u de gegevens verzendt, geeft u ons toestemming om ze te gebruiken om u te informeren over het energiezuinig maken van uw huis. We verwijderen uw gegevens na 2 jaar.</p>

            <h4>Uw rechten</h4>
            <p>U hebt altijd het recht om uw persoonsgegevens in te zien en om foute gegevens aan te passen.
            In sommige gevallen kunt u ook uw gegevens laten wissen.
            Wilt u zich beroepen op deze rechten? Dat kan via het contactformulier op <a href="https://stad.gent/over-gent-en-het-stadsbestuur/vragen-suggesties-en-meldingen/juridische-info-en-privacy">deze pagina</a>.</p>

            <p>Vermoedt u dat iemand uw persoonsgegevens onrechtmatig gebruikt? Meld het ons via <a href="mailto:privacy@stad.gent">privacy@stad.gent</a>. U hebt ook het recht om klacht in te dienen bij de <a href="https://overheid.vlaanderen.be/digitale-overheid/vlaamse-toezichtcommissie">Vlaamse Toezichtcommissie voor de verwerking van persoonsgegevens</a>.</p>

            <p><strong>Meer informatie</strong> over uw rechten en privacy vindt u <a href="https://stad.gent/over-gent-en-het-stadsbestuur/vragen-suggesties-en-meldingen/met-respect-voor-uw-privacy">hier</a>.</p>

            <div class="layout-spacer"></div>
        </form>
    </div>
{% endblock %}
