{% extends 'DigipRenovationBundle::admin.html.twig' %}

{% block content %}

<div class="container">
    <h4>Subsidies</h4>

    <form action="{{ path('admin_subsidies_update') }}" method="POST">
    {% for cat in subsidyCategories %}
        <h4><input type="text" class="form-control" name="subsidy-cat-label[{{ cat.id }}]" value="{{ cat.label }}" {% if loop.first %}readonly="readonly"{% endif %} /></h4>
            <table class="table table-striped">
                <tr>
                    <th width="400">soort werk</th>
                    <th>uitgever</th>
                    <th>waarde x</th>
                    <th width="220">formule</th>
                    <th>maximum</th>
                </tr>
                {% for subsidy in cat.getSubsidies %}
                    <tr>
                        <td>{{ subsidy.label }}</td>
                        <td>
                            {{ subsidy.sourceLabel }}
                        </td>
                        <td>
                            <input type="number" class="form-control" name="subsidy-value[{{ subsidy.id }}]" value="{{ subsidy.value }}" />
                        </td>
                        <td>
                            <select class="form-control" name="subsidy-multiplier[{{ subsidy.id }}]">
                                <option value="none"    {% if subsidy.multiplier == "none" %}selected="selected"{% endif %}>x</option>
                                <option value="surface" {% if subsidy.multiplier == "surface" %}selected="selected"{% endif %}>x * oppervlakte</option>
                                <option value="cost"    {% if subsidy.multiplier == "cost" %}selected="selected"{% endif %}>x % * initiële bouwkost</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="subsidy-max[{{ subsidy.id }}]"
                                   value="{% if loop.parent.loop.first and subsidy.isRoofRelated %}{{ gentRoofMax }}{% else %}{{ subsidy.max }}{% endif %}"
                                   {% if loop.parent.loop.first and subsidy.isRoofRelated %}readonly="readonly"{% endif %}
                                    />
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" class="btn btn-primary" value="opslaan" />
    {% endfor %}
    </form>

</div>
{% endblock %}