{% extends 'app.html.twig' %}

{% set layout_menu_active = 'upgrade' %}

{% block content %}

<div class="page-sub-heading heading-lock-top">
    <div class="container text-right">
        <div class="row">
            <div class="col-xs-8">
                 {% include "house/energy-scale.html.twig" with { 'calculator': calculator } only %}
            </div>
            <div class="col-xs-4 text-right">
                <div class="row">
                    <br />
                    <div class="col-xs-6">
                        Ik investeer
                    </div>
                    <div class="col-xs-6">
                        <strong>€ <span class="house-result-investment">{{ calculator.buildCostTotal|f_price }}</span></strong>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Ik ontvang premies
                    </div>
                    <div class="col-xs-6">
                        <strong>€ <span class="house-result-subsidies">{{ calculator.subsidyTotal|f_price }}</span></strong>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Ik bespaar
                    </div>
                    <div class="col-xs-6">
                        <strong>€ <span class="house-result-savings-energy-price">{{ calculator.priceDiff()|f_price }}</span> / jaar</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6">
                        <strong><span class="house-result-savings-energy">{{ calculator.energyDiff()|f_energy }}</span> kWh / jaar</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6">
                        <strong><span class="house-result-savings-pollution">{{ calculator.co2Diff|f_co2 }}</span> kg CO<sub>2</sub> / jaar</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10 col-sm-12 col-xs-12">

            <h1>Woon beter, betaal minder</h1>

            <div class="layout-spacer"></div>

                {% for cat in configCategories %}
                    {% set currentConf = house.getConfig(cat) %}
                    {% set selectedConf = house.getUpgradeConfig(cat)|default(currentConf) %}
                    <div class="row house-config-row house-config-row-{{ cat.slug }}">
                        <div class="col-md-2 col-md-offset-1 text-center hidden-sm hidden-xs">
                            <img class="house-config-row-icon" src="{{ asset(cat.iconAsset(house)) }}" /><br /><br />
                            {% if categoryContent[cat.slug].active %}<a href="#" data-toggle="modal" data-target="#modal-content-{{ cat.slug }}"><span class="fa fa-fw fa-info-circle"></span> meer info</a><br />{% endif %}
                            {% if categoryPremium[cat.slug].active %}<a href="#" data-toggle="modal" data-target="#modal-premium-{{ cat.slug }}"><span class="fa fa-fw fa-euro"></span> premie</a><br />{% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="house-config-dropdown double {% if not selectedConf.isPossibleUpgrade %}bad{% else %}good{% endif %}"
                                 data-dropdown-value="{{ selectedConf.id }}"
                                 data-dropdown-category="{{ cat.slug }}"
                                 data-dropdown-default="{{ currentConf.id }}"
                                    >
                                <div class="btn btn-default btn-block dropdown-toggle">
                                    <span class="icon"><i class="fa fa-fw fa-chevron-down"></i></span>
                                    <strong>Verbeter mijn {% if cat.slug == 'roof' and house.roofType == 'mixed' %}schuin dak{% else %}{{ cat.label }}{% endif %}</strong><br />
                                    <span class="dropdown-value-label">{{ selectedConf.label }}</span>
                                </div>
                                <div class="dropdown-options list-group">
                                    {% for conf in cat.configs if (conf == currentConf or (conf.isPossibleUpgrade and currentConf.getTransformationFor(conf))) %}
                                        {% if (cat.slug != 'roof' or conf.id != 42 or house.roofType != 'no') %}
                                        <a class="list-group-item" href="#"
                                           data-dropdown-value="{{ conf.id }}"
                                           data-dropdown-category="{{ cat.id }}"
                                                >{{ conf.label }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group form-group-calculator">
                                {% if cat.slug == 'roof' %}
                                    <label>Oppervlakte</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ajax-update-surface house-surface-roof" value="{{ house.surfaceRoof(true, selectedConf) }}"
                                               data-url="{{ path('house_update_surface_roof') }}" />
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                {% endif %}
                                {% if cat.slug == 'floor' %}
                                    <label>grondoppervlakte</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ajax-update-surface" value="{{ house.surfaceFloor }}"
                                               data-url="{{ path('house_update_surface_floor') }}" />
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                {% endif %}
                                {% if cat.slug == 'facade' %}
                                    <label>Oppervlakte gevel</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ajax-update-surface" value="{{ house.surfaceFacade }}"
                                               data-url="{{ path('house_update_surface_facade') }}"/>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                {% endif %}
                                {% if cat.slug == 'window' %}
                                    <label>Oppervlakte ramen</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ajax-update-surface" value="{{ house.getSurfaceWindow }}"
                                               data-url="{{ path('house_update_surface_window') }}"/>
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                {% endif %}
                            </div>

                            {% if cat.slug == 'roof' and not house.hasWindroof %}
                                <div class="checkbox checkbox-calculator checkbox-windroof {% if not house.canHaveWindRoof %}hidden{% endif %}">
                                    <label>
                                        <input type="checkbox" id="house-windroof" {% if house.placeWindroof %}checked="checked"{% endif %} />
                                        Ik plaats een winddicht onderdak
                                    </label>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-md-3">
                            <strong>Ik bespaar</strong><br />
                            <span class="house-config-savings">
                                {{ calculator.energyDiffForCategory(cat.slug)|f_energy }}
                            </span> kWh/jaar&nbsp;&nbsp; €
                            <span class="house-config-savings-price">
                                {{ calculator.priceDiffForCategory(cat.slug)|f_price }}
                            </span> / jaar
                        </div>
                    </div>

                    {% if cat.slug == 'roof' and house.roofType == 'mixed' %}
                        <div class="row house-config-row house-config-row-stick house-config-row-{{ cat.slug }}">
                            <div class="col-md-2 col-md-offset-1 text-center hidden-sm hidden-xs"></div>
                            <div class="col-md-6">
                                {% set selectedExtraConf = house.extraUpgradeRoof|default(house.extraConfigRoof) %}
                                <div class="house-config-dropdown double {% if not selectedExtraConf.isPossibleUpgrade %}bad{% else %}good{% endif %}">
                                    <div class="btn btn-default btn-block dropdown-toggle">
                                        <span class="icon"><i class="fa fa-fw fa-chevron-down"></i></span>
                                        <strong>Verbeter mijn plat dak</strong><br />
                                        <span class="dropdown-value-label">{{ selectedExtraConf.label }}</span>
                                    </div>
                                    <div class="dropdown-options list-group">
                                        {% for conf in cat.configs if ((conf == selectedExtraConf or conf.isPossibleUpgrade or conf == house.extraConfigRoof) and (conf.id != 42)) %}
                                            <a class="list-group-item" href="#"
                                               data-dropdown-value="{{ conf.id }}"
                                               data-dropdown-category="{{ cat.id }}"
                                               data-dropdown-options="extra"
                                                    >{{ conf.label }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group form-group-calculator">
                                    <label>Oppervlakte</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control ajax-update-surface" value="{{ house.surfaceRoofExtra }}"
                                               data-url="{{ path('house_update_surface_roof_extra') }}" />
                                        <span class="input-group-addon">m²</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}

                    <div class="modal fade" id="modal-content-{{ cat.slug }}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    {{ categoryContent[cat.slug].value|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modal-premium-{{ cat.slug }}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    {{ categoryPremium[cat.slug].value|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {% if house.renewables|length < 3 %}
                <div class="row house-config-row house-config-row-renewables">
                    <div class="col-md-2 col-md-offset-1 text-center hidden-sm hidden-xs">
                        <img class="house-config-row-icon" src="{{ asset('build/images/icons/house-renewable.svg') }}" /><br /><br />
                        {% if renewableContent.active %}<a href="#" data-toggle="modal" data-target="#modal-renewables-info"><span class="fa fa-fw fa-info-circle"></span> meer info</a><br />{% endif %}
                        {% if renewablePremium.active %}<a href="#" data-toggle="modal" data-target="#modal-renewables-premium"><span class="fa fa-fw fa-euro"></span> premie</a><br />{% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="list-group list-renewables">
                            {% for renewable in renewables if not house.hasRenewable(renewable) %}
                                <div class="list-group-item {% if house.hasUpgradeRenewable(renewable) %}list-group-item-success{% endif %}">
                                    <div class="checkbox" data-renewable-id="{{ renewable.id }}">
                                        {% if renewable.slug == 'solar_panels' %}
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                           id="house_solar_wp"
                                                           data-current-value="{{ house.solarPanelsSurface }}"
                                                           data-poll-url="{{ path('house_poll') }}"
                                                           value="{{ house.solarPanelsSurface }}" required="required" />
                                                    <div class="input-group-addon">m²</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <label>
                                            <input type="checkbox" {% if house.hasUpgradeRenewable(renewable) %}checked="checked"{% endif %}
                                                   name="renewables[{{ renewable.slug }}]"
                                                    > {{ renewable.label }}
                                        </label>
                                        {% if renewable.slug == 'solar_panels' %}
                                            <p style="clear: both;">
                                                <a href="javascript:void(0)" data-map-url="{{ urlSolarMap }}" class="map-popup"><strong>Genoeg zon op je dak? Bekijk de zonnekaart.</strong></a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <strong>Ik bespaar</strong><br />
                        <span class="house-savings-renewables-energy">
                            {{ calculator.energyDiffForRenewables()|f_energy }}
                        </span> kWh/jaar&nbsp;&nbsp; €
                        <span class="house-savings-renewables-price">
                            {{ calculator.priceDiffForRenewables()|f_price }}
                        </span> / jaar
                    </div>
                </div>

                <div class="modal fade" id="modal-renewables-info">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                {{ renewableContent.value|raw }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal-renewables-premium">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                {{ renewablePremium.value|raw }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <hr class="divider" />

                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                Ik investeer
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <strong>€ <span class="house-result-investment">{{ calculator.buildCostTotal|f_price }}</span></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                Ik ontvang premies
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <strong>€ <span class="house-result-subsidies">{{ calculator.subsidyTotal|f_price }}</span></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                Ik verbruik minder energie
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <strong><span class="house-result-savings-energy">{{ calculator.energyDiff|f_energy }}</span> kWh/jaar</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                Ik bespaar
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <strong>€ <span class="house-result-savings-energy-price">{{ calculator.priceDiff|f_price }}</span> / jaar</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                Ik woon in Gent klimaatstad
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <strong><span class="house-result-savings-pollution">{{ calculator.co2Diff|f_co2 }}</span> kg CO<sub>2</sub> bespaard</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 hidden-sm hidden-xs">
                        <h1>
                            Zo wil ik wonen<br />
                        </h1>
                    </div>
                </div>


            <div class="btn-group pull-right">
                {% if showDetails %}
                    <a href="{{ path('house_calc_pdf') }}" class="btn btn-default">pdf</a>
                    <a href="#" class="btn btn-default" id="load-calculation-detail">detail berekening</a>
                {% endif %}
                <a href="{{ path('app_plan') }}" class="btn btn-primary">Mijn plan</a>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-heatpump-not-allowed">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {{ modalHeatpumpNotAllowed.value|raw }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1 hidden-sm"></div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {

            function updatePageData(data)
            {
                var $labelHouseScore = $('.house-avg-score');

                $labelHouseScore.find('span.score').html(Math.round(data.score_config.score).toString());
                $('.house-result-savings-energy').html(data.energy_diff);
                $('.house-result-savings-energy-price').html(data.price_diff);
                $('.house-savings-renewables-energy').html(data.renewable_diff);
                $('.house-savings-renewables-price').html(data.renewable_price);
                $('.house-result-savings-pollution').html(data.co2);
                $('.house-result-investment').html(data.cost);
                $('.house-result-subsidies').html(data.subsidies);
                $('input.house-surface-roof').val(data.roof_surface);

                if (data.roof_windroof_possible) {
                    $('.checkbox-windroof').removeClass('hidden');
                } else {
                    $('.checkbox-windroof').addClass('hidden').find('[type="checkbox"]').prop('checked', false);
                }

                // update all categories
                var $catRow;
                for (var slug in data.categories) {
                    if (data.categories.hasOwnProperty(slug)) {
                        $catRow = $('.house-config-row-' + slug);
                        $catRow.find('.house-config-savings').html(data.categories[slug].diff);
                        $catRow.find('.house-config-savings-price').html(data.categories[slug].price);
                    }
                }

                // update renewables
                $catRow = $('.house-config-row-renewables');
                $catRow.find('.house-savings-renewables-energy').html(data.renewables.diff);
                $catRow.find('.house-savings-renewables-price').html(data.renewables.price);

                // check if heat pump isn't selected if it's not allowed
                if (!data.heat_pump_allowed) {
                    var $heating = $('div.house-config-dropdown[data-dropdown-category="heating"], div.house-config-dropdown[data-dropdown-category="heating_elec"]');
                    if ([37, 38, 40, 41].indexOf(parseInt($heating.attr('data-dropdown-value'), 10)) >= 0) {
                        // select the default for the heating dropdown
                        var defaultId = $heating.attr('data-dropdown-default');
                        $heating.find('.list-group-item[data-dropdown-value="' + defaultId + '"]').click();
                        $('#modal-heatpump-not-allowed').modal('show');
                    }
                }

                // animate the grade scale
                updateScoreSlider(data.score_config);
            }

            $('body').on('click', '.dropdown-options .list-group-item', function () {

                var $item           = $(this);
                var $row            = $item.parents('.house-config-row');
                var $dropdown       = $row.find('.house-config-dropdown');
                var idConfig        = $item.attr('data-dropdown-value');
                var idCategory      = $item.attr('data-dropdown-category');
                var options         = $item.attr('data-dropdown-options');

                $.ajax({
                    url: '{{ path('house_config_update_category') }}',
                    data: {
                        config:     idConfig,
                        category:   idCategory,
                        options:    options
                    },
                    success: function (response) {
                        if (response.success) {

                            updatePageData(response.data);

                            if (response.data.good) {
                                $dropdown.removeClass('bad');
                                $dropdown.addClass('good');
                            } else {
                                $dropdown.removeClass('good');
                                $dropdown.addClass('bad');
                            }
                        }
                    }
                });

                return false;

            });

            $('body').on('click', '.list-renewables .list-group-item', function (e) {

                if ($(e.target).is('a, a > strong, .input-group-addon')) return;
                var $item       = $(this);
                var $checkbox   = $item.find('input[type=checkbox]');
                var id          = $item.find('.checkbox').attr('data-renewable-id');

                $.ajax({
                    url: '{{ path('house_toggle_renewable_upgrade') }}',
                    data: {
                        renewable: id
                    },
                    success: function (response) {
                        if (response.success) {
                            updatePageData(response.data);
                            if (response.data.active) {
                                $item.addClass('list-group-item-success');
                                $checkbox.prop('checked', true);
                            } else {
                                $item.removeClass('list-group-item-success');
                                $checkbox.prop('checked', false);
                            }
                        }
                    }
                });

                e.preventDefault();
                return false;

            });

            $('#house-windroof').on('change', function () {
                $.ajax({
                    url: '{{ path('house_toggle_windroof') }}',
                    success: function (response) {
                        if (response.success) {
                            updatePageData(response.data);
                        }
                    }
                });
            });

            $('body').on('change', '.ajax-update-surface', function () {
                $.ajax({
                    url: $(this).attr('data-url'),
                    data: { surface: $(this).val() },
                    success: function (response) {
                        if (response.success) {
                            updatePageData(response.data);
                        }
                    }
                });
            });

            $('#house_solar_wp').on('change', function () {
                $.ajax({
                    url: '{{ path('house_update_solar_wp') }}',
                    data: {
                        wp: $(this).val()
                    },
                    success: function (response) {
                        if (response.success) {
                            updatePageData(response.data);
                        }
                    }
                });
            }).on('click', function (e) {
                e.preventDefault();
                return false;
            });

            $('#load-calculation-detail').on('click', function () {
                $.ajax({
                    url: '{{ path('house_calc_detail') }}',
                    success: function (response) {
                        var $modal = $('#app-modal');
                        $modal.find('.modal-body').html(response);
                        $modal.modal('show');
                    }
                });
            });
        });
    </script>
{% endblock %}
