{% extends 'app.html.twig' %}

{% block content %}

<div class="container">

    <h1>Mijn configuratie opslaan</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            Uw configuratie is opgeslagen.
        </div>
        <div class="panel-body">
            U kan uw configuratie opnieuw inladen via de volgende URL:<br />

            <a href="{{ path('house_load_token', { token: house.token }) }}">{{ host }}{{ path('house_load_token', { token: house.token }) }}</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Mail deze URL naar mij
        </div>
        <div class="panel-body">
            <form action="{{ path('house_mail_token') }}" method="POST">

                {{ form_row(form.email) }}

                {{ form_widget(form._token) }}

                <input type="submit" class="btn btn-primary" value="Verstuur mail" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
