{% extends 'house/basics/base.html.twig' %}

{% set my_house_menu_active = 'roof-type' %}

{% block my_house_content %}

    <h1>
        Mijn dak is
        {% if content.active %}<small><a href="#" data-toggle="modal" data-target="#app-modal"><span class="fa fa-fw fa-info-circle"></span> meer info</a></small>{% endif %}
    </h1>

    <form class="form form-options form-ajax" action="{{ path('house_roof') }}" method="post">

        <input id="roof-type" type="hidden" name="roof-type" value="{{ house.roofType }}" />

        <div class="form-options-3">
            {% for option in options %}
                <div class="option-container {% if option.active %}active{% endif %}" data-option-field="roof-type" data-option-value="{{ option.value }}">
                    <div class="option-icon">
                        <img src="{{ option.icon }}" class="option-trigger" />
                    </div>
                    <div class="option-view option-trigger"></div>
                    <div class="option-label option-trigger">{{ option.label }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="layout-spacer"></div>

        {# form is ajaxed, replaced submit with direct link to next page #}
        <a class="btn btn-primary pull-right form-ajax-refresh-indicator btn-next-checked-height" href="{{ path('house_surface') }}">Verder gaan</a>

    </form>

{% endblock %}

{% block app_modal_content %}
    {{ content.value|raw }}
{% endblock %}