{% extends 'house/basics/base.html.twig' %}

{% set my_house_menu_active = 'year' %}

{% block my_house_content %}

    <h1>
        Mijn huis is gebouwd
        {% if content.active %}<small><a href="#" data-toggle="modal" data-target="#app-modal"><span class="fa fa-fw fa-info-circle"></span> meer info</a></small>{% endif %}
    </h1>

    <form class="form form-timeline form-ajax" action="{{ path('house_year') }}" method="post">

        <input id="year" type="hidden" name="year" value="{{ house.year }}" />

        <div class="layout-spacer hidden-sm hidden-xs"></div>

        {% spaceless %}
            <div class="timeline-container">
                {% for value, label in options %}
                    <div class="timeline-segment {% if house.year > value or house.year == 3000 %}active{% endif %} {% if house.year == value %}selected{% endif %}"
                         data-option-field="year" data-option-value="{{ value }}">
                        <div class="line-container">
                            <div class="line-left line"></div>
                            <div class="line-point"></div>
                            <div class="line-right line"></div>
                        </div>
                        <div class="timeline-label">{{ label }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endspaceless %}

        <div class="layout-spacer hidden-sm hidden-xs"></div>

        {# form is ajaxed, replaced submit with direct link to next page #}
        <a class="btn btn-primary pull-right form-ajax-refresh-indicator btn-next-checked-height" href="{{ path('house_roof') }}">Verder gaan</a>

    </form>

{% endblock %}

{% block app_modal_content %}
    {{ content.value|raw }}
{% endblock %}