{% extends 'DigipRenovationBundle::admin.html.twig' %}

{% block content %}

    <div class="container">
        <h4>Parameters</h4>

        <form action="{{ path('admin_parameters_update') }}" method="post">
            <table class="table table-striped">
                <tr>
                    <th width="30%">parameter</th>
                    <th>waarde</th>
                </tr>
                {% for parameter in parameters %}
                    <tr>
                        <td>{{ parameter.label }}</td>
                        <td>
                            <div class="input-group">
                                <input type="text" class="form-control" name="parameter[{{ parameter.id }}]" value="{{ parameter.value }}" style="text-align: right" />
                                <div class="input-group-addon" style="min-width: 120px">{% if parameter.unit %}{{ parameter.unit }}{% endif %}</div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="btn-group">
                <input type="submit" class="btn btn-primary" value="opslaan" />
            </div>
        </form>
    </div>
{% endblock %}