{% extends 'DigipRenovationBundle::base.html.twig' %}

{% block base_head %}

    {{ parent() }}

    {% stylesheets filter='cssrewrite, minifier_css' output="css/admin.css"
    'bundles/digiprenovation/datepicker/css/datepicker.css'
    %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
    {% endstylesheets %}

    {# javascripts filter='minifier_js' output='js/app.js' #}
    {% javascripts
    'bundles/digiprenovation/datepicker/js/bootstrap-datepicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <style>
        * { font-size: 14px; }
        body { padding-top: 60px; } /* required for bootstrap fixed nav bar */
        table.table td.no-value-possible { background-color: #EEE; }
        table.table td.right { text-align: right; }
        table.table td.value { cursor: pointer; }
    </style>
{% endblock %}

{% block base_content %}

    <nav class="navbar navbar-default navbar-fixed-top navbar-collapse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parameters <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_parameters') }}">Algemeen</a></li>
                                <li><a href="{{ path('admin_energy') }}">Verbruik</a></li>
                                <li><a href="{{ path('admin_surfaces') }}">Afmetingen</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraties <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_matrix') }}">Matrices</a></li>
                                <li><a href="{{ path('admin_renewables') }}">Hernieuwbare energie</a></li>
                                <li><a href="{{ path('admin_buildcosts') }}">Bouwkosten</a></li>
                                <li><a href="{{ path('admin_subsidies') }}">Subsidies</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('admin_content') }}">Teksten</a></li>
                        <li><a href="{{ path('admin_config_labels') }}">Config labels</a></li>
                        <li><a href="{{ path('admin_houses') }}">Data</a></li>
                    </ul>

                    <div class="navbar-form navbar-right">
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default">Afmelden</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}