{% extends 'house/config/base.html.twig' %}

{% set house_config_menu_active = 'energy' %}

{% block house_config_content %}

    <h1>Mijn energie verbruik vandaag is</h1>

    <div class="layout-spacer hidden-sm hidden-xs"></div>

    <div class="row">
        <div class="col-md-2">
            <label>Gas</label>
        </div>
        <div class="col-md-3">
            {{ calculator.current.state.gas|number_format(0, ',', ' ') }} kWh/jaar
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label>Elektriciteit</label>
        </div>
        <div class="col-md-3">
            {{ calculator.current.state.electricity|number_format(0, ',', ' ') }} kWh/jaar
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-3">
            € {{ (calculator.current.state.gas * params.priceGas)|f_price }} / jaar
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-offset-2 col-md-3">
            € {{ (calculator.current.state.electricity * params.priceElec)|f_price }} / jaar
        </div>
    </div>

    <div class="layout-spacer hidden-sm hidden-xs"></div>

    <div class="text-center">
        {% include "house/energy-scale.html.twig" with { 'calculator': calculator, current: true } only %}
    </div>

    <a href="{{ path('house_calculator') }}" class="btn btn-primary pull-right btn-next-checked-height">Verbeter mijn huis!</a>

{% endblock %}
